ody {
    font-family: Arial, sans-serif;
    background-color: #eef0f3;
    text-align: center;
    padding: 20px;
}
h1 {
    background-color: #229206;
    border: 16px solid #229206;
    border-radius: 30px;
    color: rgb(165, 245, 112);
    padding: 10px 0;
    text-align: left;
}
nav {
    padding: 10px;
    text-align: right;
}
nav a{
    margin: 0 1px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 20px;
}
img{
    width: 300px;
    height: 300px;
    border: 2px solid #229206;
    border-radius: 8px;
}
